* {
    padding: 10px;
}

#container {
    margin: 15px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefdf6;
    border: 1px black solid;
    border-radius: 1rem;
    width: auto;
}