<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'styles.css') }}"
    />
    <title>Formulário</title>
  </head>
  <body>
    <div class="header">
      <a href="/">Voltar</a>
      <a href="/orders">Pedidos</a>
    </div>
    <div class="container">
      <form method="POST">
        <label for="email">E-mail: </label><br />
        <input type="text" name="email" id="email" class="text-field"/><br />
        <label for="name">Nome: </label><br />
        <input type="text" name="name" id="name" class="text-field"/><br />
        <label for="Phone">Telefone: </label><br />
        <input type="text" name="phone" id="phone" class="text-field"/><br />
        <button type="submit" class="button">Enviar</button>
      </form>
    </div>
  </body>
</html>
