<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Idade</title>
  </head>
  <body>
    <div class="container">
        <h1>Você é menor de idade?</h1>
        <form action="/resultado" method="post">
            <fieldset>
                <legend>Insira sua Idade</legend>
                <input type="text" name="idade" id="idade" />
                <input type="submit" value="Enviar" />
            </fieldset>
        </form>
    </div>
  </body>
</html>
