@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

body {
    background-image: url("https://static.tildacdn.one/tild6532-3761-4632-b036-353363646266/thumb-cesar-school.png");
    background-color: #fdfcf1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


h1 {
    color: #fdfcf1;
    text-shadow: 1px 1px 1px  #070606;
}

label {
    font-weight: 300;
    color: #070606;
}

fieldset {
    border: #070606 2px solid;
    margin: 10px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: auto;
    border-radius: 1rem;
    background-color: #fdfcf1;
}

input {
    padding: 5px;
    margin: 5px;
}

#button {
    color: #FFF;
    background-color: #000;
    border: none;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
}

#button:hover::before {
    color: #FFF;
    background-color: #000;
    border-radius: 1rem;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
}


#button:hover {
    color: #000;
    background-color: #ff6002;
    border: #000 1px solid;
    border-radius: 1rem;
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
}

select {
    background: #ff6002;
    border: none;
    border-radius: 1rem;
    padding: 10px;
}